@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #00fff5;
    width: 5px;
    border-radius: 8px;
  }